.SideBar
  .SideBar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
      = link_to "#", class: "top-items__btn" do
        %i.fa.fa-edit
      = link_to "#", class: "top-items__btn" do
        %i.fa.fa-cog

  .SideBar__group-list
    .SideBar__group-list__groups
      .group
        .group__name
          techcamp
        .group__message
          まだメッセージがありません
      .group
        .group__name
          techcamp2
        .group__message
          まだメッセージがありません
      .group
        .group__name
          techcamp3
        .group__message
          まだメッセージがありません
      .group
        .group__name
          techcamp4
        .group__message
          まだメッセージがありません
      .group
        .group__name
          techcamp5
        .group__message
          まだメッセージがありません